:root{
    --background-color: #2B2835;
    --yellow-color:#FFC700;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
html{
    width: 100%;
}
ul {
    list-style-type: none;
}
h2,h2,h3,h4{
    font-weight: normal;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
fieldset{
    border: none;
}
@media (min-width: 600px){
    .btn{
        border-radius: 100px;
        height: 41px;
        font-size: 14px;
        line-height: 17px;
        border: none;
        font-weight: bold;
    }
    .btn-buynow-yellow{
        background-color: var(--yellow-color);
        color: black;
        margin-left: 3%;
        min-width: 165px;
    }
    .btn-buynow-black{
        background-color: black;
        color: white;
        margin-left: 3%;
        min-width: 165px;
    }
    .btn-buynow-black-card{
        background-color: black;
        color: white;
        min-width: 130px;
        margin-left: 4%;
    }
    .btn_dropdown{
        display: none;
    }
    .table{
        display: block;
    }
    .nav{
        position: relative;
        display:flex;
        height: 78px;
        background-color: #191720;
        text-align: center;
        align-items: center;
        mix-blend-mode: normal;
        opacity: 0.87;
    }
    .dropdown{
        width: 70%;
    }
    .logo{
        width: 10%;
    }
    .header-icon{
        width: 20%;
    }
    .content_dropdown a{
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 1.90909px;
        color: white;
        
    }
    .content_dropdown a:nth-child(n+2){
        margin-left: 5%;
    }
    .header-icon i{
        font-size: 27px;
        color: white;
    }
    .header-icon i:nth-child(n+2){
        margin-left: 33px;
    }
    .beats-studio3{
        background-color: var(--background-color);
        display: flex;
    }
    .content-mid{
        font-size: 16px;
        line-height: 20px;
    }
    .image-beats-studio3{
        width: 767px;
        margin-top: -78px;
        margin-bottom: -9%;
        margin-left: -10%;
    }
    .image-beats-studio3 img{
        width: 100%;
    }
    .content{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .content-beats-studio3{
        color: white;
        margin-top: 5%;
    }
    .content-big{
        font-size: 34px;
        line-height: 43px;
        font-weight:bold;
        margin-top: 22px;
    }
    .beats-content{
        font-size: 32px;
        line-height: 35px;
        font-weight: bold;
        margin-top: 2%;
    }
    .flex-buynow{
        display: flex;
        margin-top: 5%;
        align-items: center;
    }
    .price{
        font-size: 40px;
        line-height: 49px;
        color: #F2F2F2;
    }
    .product-node{
        font-size: 13px;
        line-height: 20px;
        margin-top: 2%;
        margin-bottom: 3%;
    }
    .beats-node{
        color: var(--yellow-color);
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .beats-pill{
        display: flex;
        flex-direction: row-reverse;
        margin: 10% 5% 0;
        justify-content: center;
    }
    .ul-color{
        display: flex;
    }
    .ul-color li {
        margin-top: 19px;
    }
    .ul-color li:nth-child(n+2){
        margin-left: 14px;
    }
      
    .ul-color li a {
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 100%;
    }
    .ul-color li a.white {
        background-color:white;
    }
      
    .ul-color li a.pink {
        background-color: #DD5656;
    }
      
    .ul-color li a.black {
        background-color: black;
    }
    .ul-color li a.active:after {
        position: absolute;
        content: '';
        display: inline-block;
        border: 1px solid black;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin-left: -5px;
        margin-top: -5px;
    }
    .find-color{
        font-size: 16px;
    }
    .price-gray{
        color: var(--background-color);
    }
    .image{
        width: 50%;
    }
    .beatspill-node{
        color: var(--background-color);
    }
    .powerbeats-pro{
        display: flex;
        background-color: var(--yellow-color);
    }
    .powerbeats-caption{
        margin-top: 10%;
    }
    .powerbeats-cmt{
        margin-top: 2%;
    }
    .available-color{
        font-size: 34px;
        margin-top: 2%;
    }
    .powerbeat-node{
        margin-top: 2%;
        color: white;
    }
    .content-powerbeats{
        margin:0 5%;
    }
    .beats-x{
        display: flex;
        flex-direction: row-reverse;
        background-color: #F8F8F9;
    }
    .content-beatsx{
        margin-left: 5%;
    }
    .beatsx-caption{
        margin-top: 10%;
    }
    .product{
        display: grid;
        flex-wrap: wrap;
        justify-content: space-around;
        grid-template-columns: 30% 30% 30%;
        margin: 5% 1%;
        gap: 2% 3%;
    }
    .card{
        display: inline-block;
        background-color: #F8F8F9;
        padding: 0 12px;
    }
    .card-image{
        height: 65%;
        padding-top: 5%;
    }
    .card-name{
        font-size: 32px;
        line-height: 20px;
        font-weight: bold;
    }
    .card-info{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        font-size: 18px;
        color: var(--background-color);
        margin-top: 3%;
    }
    .flex-card{
        display: flex;
        margin-top: 8%;
        margin-bottom: 10%;
    }
    .card-price{
        font-size: 32px;
        font-weight: bold;
    }
    .contact{
        background-color: #F8F8F9;
        margin: 5% 1% ;
        text-align: center;
    }
    .contact-name{
        display: inline-block;
        margin-top: 5%;
    }
    .contact-content{
        font-size: 16px;
        line-height: 20px;
        margin-top: 1%;
    }
    .form-contact{
        margin-bottom: 5%;
    }
    .contact-email{
        width: 50%;
        margin-top: 1%;
        border-radius: 30px;
        height: 45px;
        padding-left: 15px;
    }
    .btn-contact{
        width: 50%;
        margin-top: 1%;
        margin-bottom: 5%;
        height: 45px;
        background-color: var(--yellow-color);
    }
    .footer{
        background-color: var(--background-color);
        display: flex;
        color: white;
    }
    .logo-footer{
        margin:5% 0;
        text-align: center;
    }
    .logo-footer img{
        width: 44px;
    }
    .footer-content{
        display: flex;
        margin: 5% 5% 5% 0;
        width: 90%;
        justify-content:space-between;
    }
    .list{
        font-size: 16px;
        line-height: 23px;
        color: #BFBFBF;
        margin-top: 4%;
    }
    .content-title{
        font-size: 23px;
        line-height: 34px;
        font-weight: bold;
    }
    .follow-icon{
        display: flex;
        color: black;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 0 5%;
        margin-top: 4%;
    }
    .follow-icon i{
        display: inline-flex;
        background-color: white;
        border-radius: 100%;
        font-size: 35px;
        width: 45px;
        height: 45px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 600px){
    .table, .list-company, .list-suport{
        display: none;
    }
    .mobile{
        display: block;
    }
    .btn{
        border-radius: 100px;
        min-width: 146px;
        height: 36px;
        font-size: 14px;
        line-height: 17px;
        border: none;
        font-weight: bold;
    }
    .btn-buynow-black{
        margin-left: 5px;
        background-color: black;
        color: white;
    }
    .header{
        background:var(--background-color);
    }
    .nav{
        justify-content:space-between;
        display: flex;
        margin: 0 5%;
        height: 200px;
    }
    .logo {
        margin-top: 5%;
    }
    .dropdown{
        position: relative;
        display: inline-block;
        margin-top: 5%;
    }
    .btn_dropdown{
        color: white;
        background:none;
        font-size: 25px;
        border: none;
    }
    .content_dropdown{
        display: none;
        position: absolute;
        background-color: var(--background-color);
        min-width: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 2px;
    }
    .content_dropdown a{
        color: white;
        display: block;
        text-align: left;
        padding: 12px 16px;
    }
    .content_dropdown a:hover {background-color: #ddd;}
    .dropdown:hover .content_dropdown {display: block;}
    
    .content-beats-studio3{
        margin-left: 5%;
    }
    .image-beats-studio3{
        width: 100%;
        margin-top: -200px;
    }
    .content-mid{
        font-size: 16px;
        line-height: 20px;
        color: var(--background-color);
    }
    .content-big{
        font-size: 32px;
        line-height: 55px;
        color: var(--background-color);
    }
    .beats-studio{
        display: inline-block;
        letter-spacing: 1px;
        margin-top: 51px;
    }
    .beats-content{
        font-size: 32px;
        line-height: 35px;
        font-weight: bold;
        margin-top: 7px;
    }
    .flex-buynow{
        display: flex;
        align-items: center;
    }
    .buynow-beats-studio3{
        margin-top: 5%;
    }
    .buynow-beats-pill{
        margin-top: 31px;
    }
    .buynow-powerbeats-pro{
        margin-top: 29px;
    }
    .buynow-beatsx{
        margin-top: 42px;
    }
    .price{
        line-height: 39px;
        font-size: 32px;
    }
    .btn-buynow-yellow{
        background-color: var(--yellow-color);
        margin-left: 5px;

    }
    .product-node{
        margin-top: 11px;
        font-size: 13px;
        line-height: 18px;
    }
    .beats-name{
        margin-top: -39px;
    }
    .image{
        width: 100%;
    }
    .available-color{
        font-weight: normal;
    }
    .find-color{
        font-size: 16px;
        line-height: 20px;
        color: var(--background-color);
        margin-top: 10px;
    }
    .ul-color{
        display: flex;
    }
    .ul-color li {
        margin-top: 19px;
    }
    .ul-color li:nth-child(n+2){
        margin-left: 14px;
    }
      
    .ul-color li a {
        display: inline-block;
        width: 37px;
        height: 37px;
        border-radius: 100%;
    }
    .ul-color li a.white {
        background-color:white;
    }
      
    .ul-color li a.pink {
        background-color: #DD5656;
    }
      
    .ul-color li a.black {
        background-color: black;
    }
    .ul-color li a.active:after {
        position: absolute;
        content: '';
        display: inline-block;
        border: 1px solid black;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        margin-left: -5px;
        margin-top: -5px;
    }
    .powerbeats-pro{
        background-color: var(--yellow-color);
    }
    .content{
        display: inline-block;
        margin: 0 3% 5%;
        color:var(--background-color)
    }
    .product-comment{
        font-size: 14px;
        line-height: 27px;
    }
    .powerbeats-cmt{
        margin-top: 3px;
    }
    .btn-buynow-black-card{
        background-color: black;
        color: white;
        margin-left:5px;
    }
    .powerbeat-node{
        color: white;
        margin-right: 50px;
    }
    .beats-x{
        background-color: #F8F8F9;
    }
    .beatsx-node{
        color: var(--background-color);
    }
    .product{
        width: 100%;
    }
    .card{
        display: inline-block;
        margin:5% 5%;
        background-color: #F8F8F9;
    }
    .card-name{
        font-size: 40px;
        line-height: 55px;
        font-style: normal;
        margin-left: 25px;
    }
    .card-info{
        font-size: 14px;
        line-height: 21px;
        margin-left: 25px;
        margin-right: 27px;
    }
    .flex-card{
        display: inline-flex;
        margin-top: 15px;
        align-items: center;
        margin-bottom: 27px;
        margin-left: 25px;
    }
    .card-price{
        color:#9D8220;
        line-height: 30px;
        font-size: 25px;
    }
    .card-img1{
        margin-left: 26px;
    }
    .card-img2{
        margin-top: -34px;
    }
    .card-img3{
        margin-top: 36px;
        margin-left: 30px;
    }
    .card-img4{
        margin-top: 54px;
        margin-left: 91px;
    }
    .card-img5{
        margin-top: -19px;
        margin-left: 29px;
    }
    .card-img6{
        margin-top: 39px;
        margin-left: 88px;
    }
    .card-name2{
        margin-top: -34px;
    }
    .card-name4{
        margin-top: -178px;
    }
    .card-name5{
        margin-top: -42px;
    }
    .card-name6{
        margin-top: -106px;
    }
    .contact{
        text-align: center;
    }
    .contact-name{
        display: inline-block;
        margin-top: 39px;
        color: var(--background-color);
        font-weight: bold;
    }
    .contact-content{
        font-size: 14px;
        line-height: 17px;
        margin-top: 11px;
        width: 273px;
        margin-left: 20%;
    }
    .contact-email{
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 18px;
        height: 36px;
        width: 298px;
        margin-top: 30px;
        padding-left: 12px;
    }
    .btn-contact{
        background-color: var(--yellow-color);
        margin-top: 19px;
        height: 41px;
        width: 298px;
        margin-bottom: 36.38px;
    }
    .footer{
        background-color: var(--background-color);
    }
    .logo-footer{  
        text-align: center;   
    }
    .logo-footer img{
        display: inline-block;
        width: 49.87px;
        height: 49.87px;
        margin-top: 30.14px;
    }
    .margin-left{
        margin-left: 26px;
    }
    .list{
        font-size: 14px;
        margin-bottom: 30px;
        opacity: 0.39;
    }
    .follow-us i{
        display: inline-flex;
        width: 33px;
        height: 33px;
        font-size: 25px;
        background-color: white;
        color: black;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-top: 14px;
        margin-bottom: 36px;
    }
    .follow-us i:nth-child(n+2){
        margin-left: 7px;
    }
    .footer-name{
        mix-blend-mode: normal;
        min-height: 46px;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        padding-top: 10px;
    }
}
@media (min-width: 1040px){
    .btn{
        height: 45px;
        font-size: 16px;
        line-height: 18px;
    }
    .btn:hover{
        cursor: pointer;
    }
    .nav{
        height: 140px;
    }
    .logo img{
        width: 55px;
    }
    .content_dropdown a{
        font-size: 30px;
        line-height: 20px;
        letter-spacing: 3px;
        
    }
    .content_dropdown a:nth-child(n+2){
        margin-left: 5%;
    }
    .header-icon i{
        font-size: 50px;
        color: white;
    }
    .header-icon i:nth-child(n+2){
        margin-left: 15%;
    }
    .beats-studio3{
        justify-content: space-around;
    }
    .content-mid{
        font-size: 18px;
        line-height: 24px;
    }
    .image-beats-studio3{
        width: 66%;
        margin-top: -140px;
    }
    .img-beats{
        width: 50%;
    }
    .img-beats img{
        width: 75%;
    }
    .img-beatsx{
        width: 100%;
    }
    .img-powerbeats img{
        width: 100%;
        margin-top: -15%;
    }
    .img-beatsx{
        width: 50%;
    }
    .img-beatsx img{
        width: 75%;
    }
    .content-beats-studio3{
        width: 50%;
    }
    .content{
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
    }
    .content-big{
        font-size: 38px;
        line-height: 45px;
        margin-top: 25px;
    }
    .beats-content{
        font-size: 42px;
        line-height: 45px;
        font-weight: bold;
        margin-top: 2%;
    }
    .available-color{
        font-size: 38px;
        line-height: 43px;
    }
    .price{
        font-size: 48px;
        line-height: 52px;
    }
    .product-node{
        font-size: 18px;
        line-height: 24px;
        margin-top: 2%;
    }
    .beats-node{
        font-size: 18px;
        line-height: 24px;
    }
    .ul-color li a {
        width: 60px;
        height: 60px;
    }
    .ul-color li a.active:after {
        width: 65px;
        height: 65px;
    }
    .find-color{
        font-size: 18px;
        line-height: 24px;
        margin-top: 2%;
    }
    .card-image{
        height: 65%;
    }
    .card-name{
        font-size: 34px;
        line-height: 24px;
    }
    .card-info{
        font-size: 22px;
    }
    .card-price{
        font-size: 34px;
    }
    .contact-content{
        font-size: 18px;
        line-height: 24px;
    }
    .contact-email{
        height: 55px;
        padding-left: 25px;
    }
    .btn-contact{
        height: 55px;
    }
    .list{
        font-size: 18px;
        line-height: 24px;
    }
    .content-title{
        font-size: 25px;
        line-height: 38px;
    }
    .follow-icon i{
        font-size: 38px;
        width: 65px;
        height: 65px;
    }
}